/*---------------*\
|   Style sheet   | 
\*---------------*/

html
{
  max-width: 1080px;
  margin: 0 auto;
  background-color: white;
}

body
{
  background-color: firebrick;
  padding: 20px 50px;
  corner-radius: 15px;
}

p
{
  text-align: justify;
  color: white;
}
