/*---------------*\
|   Style sheet   | 
\*---------------*/

html
{
  max-width: 1280px;
  margin: 0 auto;
  background-color: white;
}

body
{
  background-color: cornsilk;
  padding: 20px 50px;
  padding-top: 0px;
  border: solid;
  border-color: white;
  border-radius: 15px;
}

h1
{
  color: firerick;
  padding-top: 20px;
}

p
{
  text-align: justify;
  color: black;
}
